.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.vscode/c_cpp_properties.json
sonoff/user_config.h
platformio.ini
sonoff\user_config.h
sonoff/user_config.h
sonoff/user_config.h
sonoff/user_config.h
